@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4" style="color:SlateBlue;" style="font-family:courier;">
        Welcome, the is the right hospital for you</h3>
    <p style="color:SlateBlue;"style=" font-family:courier;""> You can register your appointment</p>
    <button style="background-color: #008CBA;" type="button" onclick="location.href='@Url.Action("Register")'">Register</button>
   <p>  </p>
    <p> <img src="https://img.freepik.com/premium-vector/vector-cartoon-style-flat-illustration-hospital-building_134830-781.jpg?w=2000"
             alt=" hospital" width="600" height="350">
    </p>
    

</div>
