@{
    ViewData["Title"] = "You cannot book :(";
}
<h1>@ViewData["Title"]</h1>

<h3>
    <img src="https://www.no-booking.de/wp-content/uploads/2018/12/No-Booking-hover-red-1024x235.png0"
         alt=" sad" width="600" height="350">
    
</h3>
